
/*TAG PAI*/

body {margin: 0; padding: 0; overflow-x: hidden;}

header {width: 100%; float: left;}

main {width: 100%; float: left;}

footer {width: 100%; float: left;}

/*VARIAVEIS GLOBAIS - PROPRIEDADES GLOBAIS*/

ul{ margin: 0; padding: 0; list-style: none; }

nav{ float: left; width: 100%; font-weight: bold; font-family: 'Verdana', sans-serif; color: #FFFFFF; }
	nav li{ float: left; cursor: pointer; }
	nav li a{ color: #ffffff; text-decoration: none; }
 
.ind-topo{ float: left; width: 100%; background: #4682B4; }

.ind-logomobile{ position: absolute; width: 25%; left: 0; top: 0; text-align: center; z-index:2;}

.ind-slide{float: left; width: 100%; z-index: 1;}
	.ind-slide img{width: 100%;}
	.ind-slide picture{width: 100%; height: 1%;}

.ind-anuncio{float: left; font-family: 'Verdana', sans-serif; font-size: 16px; }
	.ind-anuncio-title{float: left;  width: 100%; padding: 10px 0; text-align: center; color: #ffffff; background: #4682B4;; font-weight: bold;}
	.ind-anuncio-image{ float: left; width: 100%;}
	.ind-anuncio-image img{width: 100%; max-height: 200px;}
	.ind-anuncio-texto{ float: left; width: 100%; padding: 10px 0; text-align: center; line-height: 20px;}


/*VARIAVEIS REGIONAL - PROPRIEDADES REGIONAL*/

/* INICIO - Query smartphone*/
@media only screen and (max-width: 480px){

/*Query smartphone*/
nav li{ width: 90%; display: none;	background: #73dd3e; height: 30px; padding-top: 10px; padding-bottom: 10px; padding-left: 10%; 
		border-bottom: 1px #ffffff solid; color: #333; }
	nav li:first-child{margin-top: 1px;}

.ind-topo{ height: 50px; }

.ind-botao{ position: absolute; width: 65%; top: 3px; right: 0; cursor: pointer; padding-right: 10%; text-align: right; }

	.ind-logomobile img{margin-top: 3px; max-height: 40px;}
	.ind-slide{height: 200px;}
	.ind-slide img{max-height: 200px;}

.ind-anuncio{width: 95%; height: 200px; margin: 5px 2.5% 100px 2.5%; }


.Footer{float: left; width: 100%; background: #4682B4; border-top: 20px solid #73dd3d; font-family: 'Verdana', sans-serif;
		font-size: 12px; line-height: 25px;}

	.FooterTexto{float: left; width: 90%; margin: 20px 5%; text-align: center; }
	.FooterImage{float: left; width: 100%; text-align: center;}

.ind-banner{float: left; width: 100%;}
	.ind-banner img{width: 100%;}

.textoresponsivo{float: left; width: 90%; margin: 10px 5% 40px 5%;   text-align: justify; line-height: 35px; font-size: 15px; font-family: 'Verdana', sans-serif;}
	.textoresponsivo img{max-width: 100%;}


}
/* FIM - Query smartphone*/



/*INCIO - Query tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){

nav li{ width: 90%; display: none; background: #73dd3e; height: 30px; padding-top: 10px; padding-left: 10%; padding-bottom: 10px;
		border-bottom: 1px #ffffff solid; color: #333; cursor: pointer; }
	nav li:first-child{margin-top: 1px;}

.ind-topo{height: 60px;}

.ind-botao{position: absolute; width: 65%; top: 9px; right: 0; cursor: pointer; padding-right: 10%; text-align: right;}

	.ind-logomobile img{margin-top: 3px; max-height: 50px;}

	.ind-slide{height: 200px;}
	.ind-slide img{max-height: 200px;}

.ind-anuncio{width: 45%; height: 200px; margin: 60px 2.5% 40px 2.5%;}

.Footer{float: left; width: 100%; background: #4682B4; padding: 20px; border-top: 20px solid #73dd3d; font-family: 'Verdana', sans-serif;
		font-size: 12px; line-height: 25px;}

	.FooterTexto{float: left; width: 100%; text-align: center; margin-bottom: 20px;}
	.FooterImage{float: left; width: 100%; text-align: center;}


.ind-banner{float: left; width: 100%;}
	.ind-banner img{width: 100%;}

.textoresponsivo{float: left; width: 90%; margin: 10px 5% 40px 5%;   text-align: justify; line-height: 35px; font-size: 15px; font-family: 'Verdana', sans-serif;}
	.textoresponsivo img{max-width: 100%;}

}
/*FIM - Query tablet*/



/* INICIO - Query desktop*/
@media only screen and (min-width: 769px){

nav{ position: absolute; padding-left: 25%; }
	nav li{ width: 15%; padding-top: 20px; text-align: center; }
	nav li:last-child a{color: #73dd3e;}
	nav li:hover{margin-top: 0px; border-top: 7px solid #73dd3e; } 
	nav li:hover a{ color: #73dd3e;}


.ind-topo{height: 65px;}

.ind-botao{display: none;}

	.ind-logomobile img {margin-top: 1px; max-width: 50%;}

	.ind-slide{height: 450px;}
	.ind-slide img{max-height: 450px;}

.ind-anuncio{width: 20%; height: 300px; margin: 20px 2.5% 20px 2.5%;}


.Footer{float: left; width: 100%; background: #4682B4; padding: 20px; border-top: 20px solid #73dd3d; font-family: 'Verdana', sans-serif;
		font-size: 12px; line-height: 25px;}
     
	.FooterTexto{float: left; margin-left: 5%; width: 60%;}
	.FooterImage{float: left; margin-right: 5%; width: 30%; text-align: right; }


.ind-banner{float: left; width: 100%;}
	.ind-banner img{width: 100%;}


.textoresponsivo{float: left; width: 90%; margin: 10px 5% 40px 5%;   text-align: justify; line-height: 35px; font-size: 15px; font-family: 'Verdana', sans-serif;}
	.textoresponsivo img{max-width: 100%;}
}
/* FIM - Query desktop*/